<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <h1 *ngIf="!name">
        Hallo
  </h1>
  <h1 *ngIf="name">
        Hallo, {{name}}
  </h1>

  <h1 *ngIf="token">
        Access token: {{token}}
  </h1>

  <button class="btn btn-default" (click)="login()">
        Login
  </button>
  <button class="btn btn-default" (click)="logoff()">
        Logout
  </button>
  <p *ngIf="token">
    <button class="btn btn-default" (click)="invoke()">
          Invoke API
    </button>
  </p>
</div>
